<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Просмотр</title>
    {% include "layout.html" %}
</head>
<body>
<p>Просмотр конфига:</p>

<p>

</p>
<table border="1" cellpadding="7" cellspacing="0">
    <tr>
        <td align="center">ФИО РГ</td>
        <td align="center">номер <br> телефона</td>
        <td align="center">ФИО МПП</td>
        <td align="center">План <br> результат. <br> звонков в получасе</td>
        <td colspan=2 align="center"><a href={{url_for("add")}}>Добавить<br> нового МПП</a></td>
    </tr>

    {% for ind in datacfg %}
    <tr>
        <td>{{datacfg[ind].fio_rg}}</td>
        <td>{{datacfg[ind].num_tel}}</td>
        <td>{{datacfg[ind].fio_manager}}</td>
        <td align="center"><input type="text" size="5" align="center" value={{datacfg[ind].plan_result_call}}></td>
        <td><a href={{url_for("edit",num_tel = ind)}}>изменить</a></td>
        <td><a href={{url_for("del_element",num_tel = ind)}}>удалить</a></td>
    </tr>
    {% endfor %}
    <table>
</body>
</html>